#nav {
    background-color: blue;
}

#left-column {
    
}

#right-column {
    background-color: red;
}

#footer {
    background-color: yellow;
}

#nav, #footer {
    height: 75px;
}

#left-column, #right-column {
    height: 500px;
}